body {
    background-color:rgb(141, 82, 196, 0.569);
   }

   h1 {
    color:rgb(42, 53, 209)
   }

   #content {
      color: rgb(62, 26, 177);
      width: 800px;
      margin-left: auto;
      margin-right: auto;
   }