body {
    background-color:rgb(72, 182, 186);
   }

   h1 {
    color:rgb(145, 42, 209)
   }

   #content {
      color: rgb(92, 54, 54);
      width: 800px;
      margin-left: auto;
      margin-right: auto;
   }